.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  align-content: center;
  margin: auto;
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

.board-container {
  flex-wrap: flex;
  width: 300px;
  height: 300px;
  margin: auto;
}

.row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}

.timer {
  justify-content: left;
  font-size: 18px;
}

.status {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

.score {
  justify-content: right;
  font-size: 18px;
}