.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  align-items: center;
  align-content: center;
  width: 370px;
  height: 370px;
  margin-top: 40px;
}

.board-container {
  
  width: 370px;
  height: 370px;
}



.square {
  width: 120px;
  height: 120px;
  border: 1px solid darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  cursor: pointer;
  background-color: black;
  border-radius: 6px;
  color: darkcyan;
  filter: drop-shadow(6px 10px 10px darkcyan);
}

.square:hover {
  
  transform: scale(.95);
    filter: drop-shadow(4px 4px 5px darkcyan);
    transition: all 0.2s ease;
}


.timer {
text-align: left;  
font-size: 24px;
}

.status {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

.score {
  text-align: right;
  font-size: 24px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
