input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    margin-bottom: 6px;
    color: cyan;
    background-color: black;
    border-color: cyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.login-label {
    text-align: center;
    color: cyan;
    font-size: 36px;
    filter: drop-shadow(0px 4px 4px cyan);
}

.login-label input {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid cyan;
    border-radius: 5px;
    font-size: 24px;
    color: cyan;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color .5s ease; 
    text-align: center; 
    filter: drop-shadow(0px 4px 4px cyan);
}

#register-button {
    padding: 4px;
    margin-bottom: 20px;
    margin-left: 90px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: cyan;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 4px;
    border: 1px solid cyan;
    filter: drop-shadow(0px 6px 6px cyan);

}



#register-button:hover {
    transform: scale(.95);
    filter: drop-shadow(0px 3px 3px cyan);
    transition: all 0.2s ease;

}

#login-button {
    padding: 4px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: cyan;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 4px;
    border: 1px solid cyan;
    filter: drop-shadow(0px 6px 6px cyan);

}

#login-button:hover {
    transform: scale(.95);
    filter: drop-shadow(0px 3px 3px cyan);
    transition: all 0.2s ease;


}

#cancel-button {
    padding: 4px;
    margin-left: auto;
    margin-right: 110px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: cyan;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 4px;
    border: 1px solid cyan;
    filter: drop-shadow(0px 6px 6px cyan);

}

#cancel-button:hover {
    transform: scale(.95);
    filter: drop-shadow(0px 3px 3px cyan);
    transition: all 0.2s ease;


}

#cancel-register-button {
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: cyan;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 4px;
    border: 1px solid cyan;
    filter: drop-shadow(0px 6px 6px cyan);

}

#cancel-register-button:hover {
    transform: scale(.95);
    filter: drop-shadow(0px 3px 3px cyan);
    transition: all 0.2s ease;


}

.play-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid cyan;
    border-radius: 5px;
    background-color: cyan;
    color: black;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    border-radius: 6px;
    color: cyan;
    filter: drop-shadow(0px 6px 6px cyan);
    font-weight: bold;

}

.play-button:hover {
    transform: scale(.95);
    filter: drop-shadow(0px 3px 3px cyan);
    transition: all 0.2s ease;

}


.welcome-message {
    text-decoration: none;
    color: cyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: cyan;
    font-weight: bold;
    font-size: 36px;
}

.timer-message {
    text-decoration: none;
    color: cyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: -20px;
    border-radius: 5px;
    background-color: black;
    color: cyan;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

#change-user-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid cyan;
    border-radius: 5px;
    background-color: black;
    color: cyan;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    border-radius: 6px;
    color: cyan;
    filter: drop-shadow(0px 6px 6px cyan);
    font-weight: bold;
}

#change-user-button:hover {
    transform: scale(.95);
    filter: drop-shadow(0px 3px 3px cyan);
    transition: all 0.2s ease;

}